In [2]:
from sklearn import datasets
import pandas as pd

In [40]:
books_dataset = pd.read_csv('books_dataset_v5_titlefixed_titleinfo.csv')

In [4]:
books_dataset

,ISBN,Unnamed: 0,Publisher,Dewey,LC,Title,Number of Pages,Publish Place,Subject Place,Subject,...,publishplace_id,dewey_id,publisher_freq,publish_place_freq,dewey_freq,Author,author_id,author_frequency,title_avg_word_len,title_num_words
0,1400052920,0,Harmony Books,823/.914,PR6051.D3352 H5 1979,The hitchhiker's guide to the galaxy,215.000000,New York,0.200000,30.700000,...,270,324,0,729,89,Douglas Adams,2158,0,5.166667,6
1,076790818X,1,Broadway Books,500,Q162 .B88 2004,A short history of nearly everything,544.000000,New York,1.000000,0.550000,...,270,275,0,729,0,Bill Bryson,1091,0,5.166667,6
2,076790382X,2,Broadway,NaN,NaN,I'm a stranger here myself,304.000000,NaN,0.000000,3.000000,...,0,0,0,0,0,Bill Bryson,1091,0,4.400000,5
3,193337201X,3,Europa Editions,NaN,NaN,Cooking With Fernet Branca,281.000000,NaN,0.000000,19.000000,...,0,0,0,0,0,James Hamilton-Paterson,621,0,5.750000,4
4,097669400X,4,Pragmatic Bookshelf,NaN,NaN,Agile web development with rails,558.000000,"Raleigh, N.C",0.000000,80.285714,...,295,0,0,0,0,Dave Thomas,1704,0,5.600000,5
5,1557344493,5,Teacher Created Resources,NaN,NaN,A Guide for Using Hatchet in the Classroom,48.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Gary Paulsen,1134,0,4.375000,8
6,1575606240,6,Cherry Lane Music,NaN,NaN,Molly Hatchet - 5 of the Best,56.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Molly Hatchet,1612,0,3.285714,7
7,1595580271,7,New Press,NaN,NaN,Hatchet Jobs,240.000000,NaN,0.000000,134.000000,...,0,0,0,0,0,Dale Peck,820,0,5.500000,2
8,1595962808,8,Changeling Press LLC,NaN,NaN,A Changeling For All Seasons,304.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Angela Knight,2263,0,4.800000,5
9,1590301943,9,Shambhala,NaN,NaN,The Changeling,352.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Kate Horsley,280,0,6.500000,2
10,006076273X,10,HarperAudio,NaN,NaN,The Known World CD,340.122672,NaN,0.000000,167.000000,...,0,0,0,0,0,Edward P. Jones,1930,0,3.750000,4
11,1932386106,11,Archaia Studio Press,NaN,NaN,Artesia,352.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Mark S. Smylie,725,0,7.000000,1
12,1596670231,12,"Eye on Education,",NaN,NaN,Active Literacy Across the Curriculum,138.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Heidi Hayes Jacobs,1341,0,6.600000,5
13,1581807740,13,North Light Books,745.594/2,TT860 .B688 2006,Simply beautiful beaded jewelry,340.122672,"Cincinnati, Ohio",0.000000,0.000000,...,287,312,0,0,0,Heidi Boyd,2108,0,7.000000,4
14,1852402873,14,Sovereign Publishing,NaN,NaN,There's Always Enough,192.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,NaN,0,0,6.333333,3
15,1581805632,15,North Light Books,NaN,NaN,Simply beautiful beading,127.000000,"Cincinnati, Ohio",0.000000,0.000000,...,287,0,0,0,0,Heidi Boyd,2108,0,7.333333,3
16,034541005X,16,Ballantine Books,823,PR9619.3.C5964 P69 1996,The power of one,518.000000,New York,0.000000,47.785714,...,270,247,59,729,1,Bryce Courtenay,2230,0,3.250000,4
17,006076287X,17,Perennial Currents,658.8/7,HF5478 .G56 2005,"How to buy, sell and profit on eBay",317.000000,New York,0.000000,70.250000,...,270,158,0,729,0,Adam Ginsberg,126,0,3.500000,8
18,1593080271,18,Barnes & Noble Classics,891.73/3,PG3366 .A6 2003,Anna Karenina,803.000000,New York,1.000000,7.631579,...,270,454,0,729,0,Tolstoy,911,0,6.000000,2
19,1593081774,19,Barnes & Noble Classics,NaN,NaN,Anna Karenina,803.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,NaN,0,0,6.000000,2
20,1568491980,20,Buccaneer Books,NaN,NaN,The Untouchables,340.122672,NaN,0.000000,0.000000,...,0,0,0,0,0,NaN,0,0,7.500000,2
21,1557344035,21,Teacher Created Materials,NaN,NaN,A guide for using A wrinkle in time in the cla...,48.000000,"Westminster, Calif",0.000000,0.000000,...,123,0,0,0,0,John Carratello,168,0,3.818182,11
22,043927169X,22,Scholastic Professional Books,NaN,NaN,Literature Circle Guide,32.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,Tara McCarthy,1226,0,7.000000,3
23,006078671X,23,William Morrow,813/.54,PS3570.O37 L66 2006,A long shadow,341.000000,New York,25.000000,99.285714,...,270,345,65,729,667,Charles Todd,193,2,3.666667,3
24,1400032490,24,Vintage Crime/Black Lizard,813/.54,PS3545.I464 N4 2004,New hope for the dead,244.000000,New York,5.333333,108.833333,...,270,345,0,729,667,Charles Ray Willeford,568,0,3.400000,5
25,1400032482,25,Vintage Books,813/.54,PS3545.I464 S5 2005,Sideswipe,215.000000,New York,5.333333,30.333333,...,270,345,0,729,667,Charles Ray Willeford,568,0,9.000000,1
26,1400032466,26,Vintage Books,813/.54,PS3545.I464 M5 2004,Miami blues,191.000000,New York,5.333333,93.714286,...,270,345,0,729,667,Charles Ray Willeford,568,0,5.000000,2
27,080213016X,27,NaN,NaN,NaN,Quiet days in Clichy,154.000000,New York,0.000000,0.000000,...,270,0,0,729,0,Henry Miller,1237,0,4.250000,4
28,1593080964,28,Barnes & Noble Classics,NaN,NaN,The Portrait of a Lady,672.000000,NaN,0.000000,0.000000,...,0,0,0,0,0,NaN,0,0,3.600000,5
29,1565842219,29,New Press,NaN,NaN,The War,192.000000,NaN,0.000000,52.625000,...,0,0,0,0,0,"Duras, Marguerite.",1214,0,3.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5582,345542967,5582,Random House Publishing Group,NaN,NaN,Tricky Twenty-Two,340.122672,NaN,0.000000,167.000000,...,0,0,1,0,0,Janet Evanovich,624,16,8.000000,2
5583,1501108557,5583,Simon & Schuster,NaN,NaN,All Dressed in White,340.122672,NaN,0.000000,166.000000,...,0,0,62,0,0,Mary Higgins Clark,121,11,4.250000,4
5584,1501119796,5584,Simon & Schuster,NaN,NaN,The Mistletoe Inn,340.122672,NaN,0.000000,0.000000,...,0,0,62,0,0,Richard J. Evans,1873,11,5.000000,3
5585,316407046,5585,"Little,Brown and Co.",NaN,NaN,Cross Justice,420.000000,NaN,0.000000,112.250000,...,0,0,1,0,0,James Patterson,1772,44,6.000000,2
5586,399176764,5586,NaN,813/.6,PS3607.R4285 T655 2015,Tom Clancy commander-in-chief,718.000000,NaN,4.000000,306.800000,...,0,287,0,0,205,Mark Greaney,2171,3,9.000000,3
5587,385539258,5587,Doubleday,813/.6,PS3625.A674,A Little Life,736.000000,"New York, USA",1.750000,113.933333,...,367,287,38,51,205,Hanya Yanagihara,208,1,3.666667,3
5588,1400067693,5588,Random House,NaN,NaN,My Name is Lucy Barton,340.122672,NaN,0.000000,510.333333,...,0,0,32,0,0,Elizabeth Strout,1363,2,3.600000,5
5589,399174680,5589,NaN,813/.54,PS3573.O642 S38 2016,Scandalous behavior,369.000000,NaN,0.000000,282.500000,...,0,345,0,0,667,Stuart Woods,565,20,9.000000,2
5590,525954554,5590,Dutton,NaN,NaN,The Bitter Season,340.122672,NaN,0.000000,167.000000,...,0,0,34,0,0,Tami Hoag,427,6,5.000000,3
5591,525429476,5591,Viking,NaN,NaN,The Expatriates,340.122672,NaN,0.000000,209.625000,...,0,0,25,0,0,Janice Y. K. Lee,2015,2,7.000000,2
5592,345531051,5592,Delacorte Press,NaN,NaN,Blue,340.122672,NaN,0.000000,167.000000,...,0,0,42,0,0,Danielle Steel,1369,22,4.000000,1
5593,451474627,5593,NAL,NaN,NaN,The Forgotten Room,340.122672,NaN,0.000000,167.000000,...,0,0,1,0,0,Karen White,1116,1,5.333333,3
5594,765378574,5594,Tor,NaN,NaN,The Bands of Mourning,447.000000,NaN,0.000000,167.000000,...,0,0,16,0,0,Brandon Sanderson,497,5,4.500000,4
5595,345528697,5595,Delacorte Press,NaN,NaN,The Swans of Fifth Avenue,340.122672,NaN,0.000000,167.000000,...,0,0,42,0,0,Melanie Benjamin,784,2,4.200000,5
5596,399170898,5596,NaN,813/.54,PS3568.O243 B76 2016,Brotherhood in death,388.000000,NaN,26.666667,277.600000,...,0,345,0,0,667,J. D. Robb,526,12,6.000000,3
5597,1476781222,5597,NaN,813/.54,PS3552.U397 G46 2015,Gentleman Jole and the Red Queen,344.000000,NaN,0.000000,190.375000,...,0,345,0,0,667,Lois McMaster Bujold,827,3,4.500000,6
5598,1250061628,5598,St. Martin's Press,NaN,NaN,Cometh the Hour,416.000000,New York City,0.000000,188.000000,...,234,0,69,2,0,Jeffrey Archer,1062,5,4.333333,3
5599,1101990260,5599,NaN,823/.92,PR6102.A7839 W53 2016,The widow,324.000000,NaN,0.000000,187.222222,...,0,443,0,0,18,Fiona Barton,927,1,4.000000,2
5600,1400068266,5600,NaN,813/.54,PS3553.A495 D68 2015,A doubter's almanac,558.000000,NaN,0.000000,141.333333,...,0,345,0,0,667,Ethan Canin,703,2,5.666667,3
5601,553391925,5601,Ballantine Books,NaN,NaN,A Girl's Guide to Moving On,340.122672,NaN,0.000000,167.000000,...,0,0,59,0,0,Debbie Macomber,345,15,3.666667,6
5602,765376474,5602,A Tom Doherty Associates Book,NaN,NaN,A Gathering of Shadows,340.122672,NaN,21.000000,67.666667,...,0,0,1,0,0,NaN,0,0,4.750000,4
5603,399176608,5603,G.P. Putnam's Sons,NaN,NaN,Off the Grid,340.122672,NaN,0.000000,167.000000,...,0,0,74,0,0,C. J. Box,845,7,3.333333,3
5604,1455536342,5604,NaN,813/.54,PS3554.E1755 S74 2016,The steel kiss,486.000000,NaN,20.250000,108.666667,...,0,345,0,0,667,Jeffery Deaver,1270,10,4.000000,3
5605,802124801,5605,Atlantic Monthly Press,NaN,NaN,The Waters of Eternal Youth,340.122672,NaN,0.000000,167.000000,...,0,0,6,0,0,Donna Leon,753,5,4.600000,5
5606,1501110721,5606,Simon & Schuster,NaN,NaN,Clawback,340.122672,NaN,0.000000,125.470588,...,0,0,62,0,0,J. A. Jance,815,9,8.000000,1
5607,034553106X,5607,Delacorte Press,NaN,NaN,Property of a Noblewoman,340.122672,NaN,0.000000,232.166667,...,0,0,42,0,0,Danielle Steel,1369,22,5.250000,4
5608,525953000,5608,Viking,NaN,NaN,At the Edge of the Orchard,340.122672,NaN,0.000000,167.000000,...,0,0,25,0,0,Tracy Chevalier,1971,1,3.500000,6
5609,525955097,5609,Dutton,NaN,NaN,Fool Me Once,340.122672,NaN,0.000000,139.933333,...,0,0,34,0,0,Harlan Coben,1443,9,3.333333,3
5610,62414216,5610,Ecco,NaN,NaN,The Nest,340.122672,NaN,0.000000,254.166667,...,0,0,6,0,0,Cynthia D'Aprix Sweeney,1147,1,3.500000,2
5611,812993101,5611,Random House,NaN,NaN,The Summer Before the War,340.122672,NaN,0.000000,167.000000,...,0,0,32,0,0,Helen Simonson,129,1,4.200000,5

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = books_dataset[['Number of Pages', 'Subject Place', 'Subject', 'publisher_id', 'publishplace_id', 'dewey_id', 'publisher_freq', 'publish_place_freq', 'dewey_freq', 'author_id', 'author_frequency', 'title_avg_word_len', 'title_num_words']]
#removed publish date

In [7]:
X

,Number of Pages,Subject Place,Subject,publisher_id,publishplace_id,dewey_id,publisher_freq,publish_place_freq,dewey_freq,author_id,author_frequency,title_avg_word_len,title_num_words
0,215.000000,0.200000,30.700000,124,270,324,0,729,89,2158,0,5.166667,6
1,544.000000,1.000000,0.550000,479,270,275,0,729,0,1091,0,5.166667,6
2,304.000000,0.000000,3.000000,1545,0,0,0,0,0,1091,0,4.400000,5
3,281.000000,0.000000,19.000000,1493,0,0,0,0,0,621,0,5.750000,4
4,558.000000,0.000000,80.285714,1049,295,0,0,0,0,1704,0,5.600000,5
5,48.000000,0.000000,0.000000,330,0,0,0,0,0,1134,0,4.375000,8
6,56.000000,0.000000,0.000000,1522,0,0,0,0,0,1612,0,3.285714,7
7,240.000000,0.000000,134.000000,1349,0,0,0,0,0,820,0,5.500000,2
8,304.000000,0.000000,0.000000,1077,0,0,0,0,0,2263,0,4.800000,5
9,352.000000,0.000000,0.000000,1289,0,0,0,0,0,280,0,6.500000,2
10,340.122672,0.000000,167.000000,1007,0,0,0,0,0,1930,0,3.750000,4
11,352.000000,0.000000,0.000000,1385,0,0,0,0,0,725,0,7.000000,1
12,138.000000,0.000000,0.000000,1456,0,0,0,0,0,1341,0,6.600000,5
13,340.122672,0.000000,0.000000,156,287,312,0,0,0,2108,0,7.000000,4
14,192.000000,0.000000,0.000000,735,0,0,0,0,0,0,0,6.333333,3
15,127.000000,0.000000,0.000000,156,287,0,0,0,0,2108,0,7.333333,3
16,518.000000,0.000000,47.785714,449,270,247,59,729,1,2230,0,3.250000,4
17,317.000000,0.000000,70.250000,1012,270,158,0,729,0,126,0,3.500000,8
18,803.000000,1.000000,7.631579,1520,270,454,0,729,0,911,0,6.000000,2
19,803.000000,0.000000,0.000000,1520,0,0,0,0,0,0,0,6.000000,2
20,340.122672,0.000000,0.000000,514,0,0,0,0,0,0,0,7.500000,2
21,48.000000,0.000000,0.000000,1450,123,0,0,0,0,168,0,3.818182,11
22,32.000000,0.000000,0.000000,1206,0,0,0,0,0,1226,0,7.000000,3
23,341.000000,25.000000,99.285714,1614,270,345,65,729,667,193,2,3.666667,3
24,244.000000,5.333333,108.833333,1554,270,345,0,729,667,568,0,3.400000,5
25,215.000000,5.333333,30.333333,940,270,345,0,729,667,568,0,9.000000,1
26,191.000000,5.333333,93.714286,940,270,345,0,729,667,568,0,5.000000,2
27,154.000000,0.000000,0.000000,0,270,0,0,729,0,1237,0,4.250000,4
28,672.000000,0.000000,0.000000,1520,0,0,0,0,0,0,0,3.600000,5
29,192.000000,0.000000,52.625000,1349,0,0,0,0,0,1214,0,3.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5582,340.122672,0.000000,167.000000,1566,0,0,1,0,0,624,16,8.000000,2
5583,340.122672,0.000000,166.000000,470,0,0,62,0,0,121,11,4.250000,4
5584,340.122672,0.000000,0.000000,470,0,0,62,0,0,1873,11,5.000000,3
5585,420.000000,0.000000,112.250000,178,0,0,1,0,0,1772,44,6.000000,2
5586,718.000000,4.000000,306.800000,0,0,287,0,0,205,2171,3,9.000000,3
5587,736.000000,1.750000,113.933333,1337,367,287,38,51,205,208,1,3.666667,3
5588,340.122672,0.000000,510.333333,803,0,0,32,0,0,1363,2,3.600000,5
5589,369.000000,0.000000,282.500000,0,0,345,0,0,667,565,20,9.000000,2
5590,340.122672,0.000000,167.000000,793,0,0,34,0,0,427,6,5.000000,3
5591,340.122672,0.000000,209.625000,63,0,0,25,0,0,2015,2,7.000000,2
5592,340.122672,0.000000,167.000000,930,0,0,42,0,0,1369,22,4.000000,1
5593,340.122672,0.000000,167.000000,1226,0,0,1,0,0,1116,1,5.333333,3
5594,447.000000,0.000000,167.000000,1141,0,0,16,0,0,497,5,4.500000,4
5595,340.122672,0.000000,167.000000,930,0,0,42,0,0,784,2,4.200000,5
5596,388.000000,26.666667,277.600000,0,0,345,0,0,667,526,12,6.000000,3
5597,344.000000,0.000000,190.375000,0,0,345,0,0,667,827,3,4.500000,6
5598,416.000000,0.000000,188.000000,1442,234,0,69,2,0,1062,5,4.333333,3
5599,324.000000,0.000000,187.222222,0,0,443,0,0,18,927,1,4.000000,2
5600,558.000000,0.000000,141.333333,0,0,345,0,0,667,703,2,5.666667,3
5601,340.122672,0.000000,167.000000,449,0,0,59,0,0,345,15,3.666667,6
5602,340.122672,21.000000,67.666667,1468,0,0,1,0,0,0,0,4.750000,4
5603,340.122672,0.000000,167.000000,885,0,0,74,0,0,845,7,3.333333,3
5604,486.000000,20.250000,108.666667,0,0,345,0,0,667,1270,10,4.000000,3
5605,340.122672,0.000000,167.000000,840,0,0,6,0,0,753,5,4.600000,5
5606,340.122672,0.000000,125.470588,470,0,0,62,0,0,815,9,8.000000,1
5607,340.122672,0.000000,232.166667,930,0,0,42,0,0,1369,22,5.250000,4
5608,340.122672,0.000000,167.000000,63,0,0,25,0,0,1971,1,3.500000,6
5609,340.122672,0.000000,139.933333,793,0,0,34,0,0,1443,9,3.333333,3
5610,340.122672,0.000000,254.166667,595,0,0,6,0,0,1147,1,3.500000,2
5611,340.122672,0.000000,167.000000,803,0,0,32,0,0,129,1,4.200000,5

In [8]:
y = books_dataset['on_NYT']

In [9]:
y

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
5582    1
5583    1
5584    1
5585    1
5586    1
5587    1
5588    1
5589    1
5590    1
5591    1
5592    1
5593    1
5594    1
5595    1
5596    1
5597    1
5598    1
5599    1
5600    1
5601    1
5602    1
5603    1
5604    1
5605    1
5606    1
5607    1
5608    1
5609    1
5610    1
5611    1
Name: on_NYT, Length: 5612, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=251)

In [11]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 100)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [12]:
from sklearn import metrics

print('Accuracy:', metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9857482185273159

In [13]:
feature_imp = pd.Series(clf.feature_importances_, index=['Number of Pages', 'Subject Place', 'Subject', 'publisher_id', 'publishplace_id', 'dewey_id', 'publisher_freq', 'publish_place_freq', 'dewey_freq', 'author_id', 'author_frequency', 'title_avg_word_len', 'title_num_words' ]).sort_values(ascending=False)

In [14]:
feature_imp

Subject               0.354212
publisher_freq        0.189703
author_frequency      0.173905
dewey_freq            0.080381
dewey_id              0.044395
publisher_id          0.044152
Number of Pages       0.041647
publishplace_id       0.016115
author_id             0.014559
publish_place_freq    0.013488
title_avg_word_len    0.010705
title_num_words       0.010237
Subject Place         0.006499
dtype: float64

In [93]:
#predicting winter of the world
for i in range(5612):
    if books_dataset['ISBN'][i] == '525952926':
        ISBN_ind = i

books_dataset['ISBN'][ISBN_ind]
valslist = []
colslist = []
for x in books_dataset.columns:
    colslist.append(x)
    valslist.append(books_dataset[x][ISBN_ind])

test = pd.DataFrame([valslist], columns = colslist)

X_tester = test[['Number of Pages', 'Subject Place', 'Subject', 'publisher_id', 'publishplace_id', 'dewey_id', 'publisher_freq', 'publish_place_freq', 'dewey_freq', 'author_id', 'author_frequency', 'title_avg_word_len', 'title_num_words']]
X_tester

,Number of Pages,Subject Place,Subject,publisher_id,publishplace_id,dewey_id,publisher_freq,publish_place_freq,dewey_freq,author_id,author_frequency,title_avg_word_len,title_num_words
0,340.122672,5.0,288.2,793,270,324,34,729,89,1881,3,4.0,4

In [95]:
predicted_val = clf.predict(X_tester)
predicted_val

array([1], dtype=int64)